<section class="login-container">
  <div class="content">
    <h1 class="login-header">Welcome to Urban</h1>
    <form [formGroup]="form">
      <app-input
        label="Email"
        name="email"
        [errorMessage]="emailErrorMessage"
        formControlName="email"
        required
        type="text"
      ></app-input>
      <app-spacer size="medium"></app-spacer>
      <app-input
        label="Password"
        name="password"
        [errorMessage]="'Minimum 5 characters'"
        formControlName="password"
        required
        type="password"
      ></app-input>
      <app-spacer size="medium"></app-spacer>
      <app-button (onClick)="login()" [appearance]="'primary'"
        >Login</app-button
      >
    </form>
  </div>
</section>
